version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-28
    environment:
      JVM_OPTS: -Xmx3200m

    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}

      - run:
          name: Generate all unit test reports
          command: ./gradlew clean jacocoTestReport jacocoTestReportDebug --no-daemon

      - run:
          name: Submit Code Coverage results to codecov.io
          command: bash <(curl -s https://codecov.io/bash)

      - store_artifacts:
          path: app/build/reports

      - store_test_results:
          path: app/build/test-results

      - store_artifacts:
          path: app/build/reports